<div class="advantages sc page2" id="page-second">
    <div class="content">
        <div class="content__wrapper">
            <div class="content__logo">
            <p>Новопечерські Липки</p>
        </div>
        <a href="tel:+380442244350" class="content__phone">(044) 224 43 50</a>
        <a href="#" class="content__menu">
            <i class="fa fa-bars" aria-hidden="true"></i>menu
        </a>
        <ul class="content__language">
            <li><a href="#">en</a></li>
            <li><a href="#">рус</a></li>
            <li><a href="#">укр</a></li>
        </ul>
        <div class="content__about">
            <div class="content__page-number">02</div>
            <a href="#" class="content__explain">преимущества</a>
            <div class="content__arrows">

            </div>
        </div>
        <div class="content__info2">
            <div class="content__info2--block">
                <div class="content__green-zone">
                    <img src="img/green_zone.png" alt="tree">
                    <p>Зеленая зона</p>
                </div>
                <div class="content__shadow"></div>
            </div>

            <div class="content__info2--block">
                <div class="content__parking">
                    <img src="img/parking.png" alt="parking">
                    <p>Подземный паркинг</p>
                </div>
                <div class="content__shadow"></div>
            </div>

            <div class="content__info2--block">
                <div class="content__infrastructure">
                    <img src="img/infrastructure.png" alt="infrustructure">
                    <p>Инфраструктура</p>
                </div>
                <div class="content__shadow"></div>
            </div>

            <div class="content__info2--block">
                <div class="content__four">
                    <img src="img/parking.svg" alt="img">
                    <p>Четвертый объект</p>
                </div>
                <div class="content__shadow"></div>
            </div>
        </div>
         
        <div class="content__nav">
            <a href="#" class="content__nav--page-number">01</a>
            <a href="#" class="content__nav--page-number page-active">02</a>
            <a href="#" class="content__nav--page-number">03</a>
            <a href="#" class="content__nav--page-number">04</a>
            <a href="#" class="content__nav--page-number">05</a>
        </div>
        </div>
        

    </div>
    
</div> 
